<!DOCTYPE html>
<html>
  <head>
    <title>Hackdash - Vote</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/vote-hackdash.css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
