{
  "db": {
    "name": "vote-hackdash",
    "host": "localhost",
    "url": null
  },
  "session": "top secret",
  "googleAnalytics": "UA-XXXXXXXX-X",
  "providers": ["twitter", "facebook"],
  "keys": {
    "twitter": {
        "consumerKey": "xxxxxxx"
      , "consumerSecret": "yyyyyyy"
      , "callbackURL":  "/auth/twitter/callback"
    }
  }
}
