
.poll-form {
  form.form-horizontal {
    .form-group {
      margin-bottom: 0;

      .control-label {
        padding-top: 9px;
      }

      .btn {
        line-height: 1;
        border: none;
      }

    }
  }
}

.polls-ctn {

  text-align: center;

  .card-wrap {
    width: 100%;
    display: inline-block;

    .card {
      text-align: left;
    }

    // XS
    max-width: 100%;
    margin: 0;
    margin-bottom: 15px;

    @media @sm-and-up {
      max-width: 450px;
      margin: 10px 30px;
    }

    @media @md-and-up {
      max-width: 300px;
    }

    @media @lg-and-up {
      max-width: 350px;
    }

  }
}

.poll-header {
  margin-top: -10px;

  .wrap {
    background: @background-color-light;
    color: @text-icons-color;
    overflow: hidden;
    position: relative;

    h1 {
      margin: 10px 0 0 0;

      .label {
        margin-left: 20px;
      }
    }

    h2 {
      margin: 0;
      margin-bottom: 5px;

      a {
        color: darken(@text-icons-color, 5%);
      }
    }

  }

  .counters {
    position: absolute;
    top: 0;
    right: -20px;
    height: 100%;

    @media @xs-and-down {
      position: static;
      width: 110%;
      height: 90px;
      margin-left: -15px;
    }

    .count-wrap {
      position: absolute;
      top: 0;
      height: 100%;

      @media @xs-and-down {
        position: static;
        display: inline-block;
        width: 50%;
      }

      .back {
      	height: 100%;
        width: 100%;

        @media @sm-and-up {
          position: absolute;
          top: 0;
          right: 0;
          z-index: 1;

          width: 150px;
        	-webkit-transform: skew(20deg);
        	   -moz-transform: skew(20deg);
        	     -o-transform: skew(20deg);
        }

        .title {
          font-size: 25px;
          position: absolute;
          bottom: 0;
          right: 10px;
          text-transform: uppercase;
          padding-left: 20px;
        }

        .count {
          text-align: center;
          font-size: 40px;
          font-weight: 500;
        }

        .title, .count {
          color: #fff;
          width: 100%;

          @media @sm-and-up {
            -webkit-transform: skew(-20deg);
               -moz-transform: skew(-20deg);
                 -o-transform: skew(-20deg);
          }

          @media @xs-and-down {
            position: static;
            padding-left: 0!important;
            text-align: center;
          }

        }

      }

      &.projects {
        .back {
          background: @projects-color;
          right: 150px;
        }
      }

      &.votes {
        .back {
          background: @votes-color;
        }

        .title {
          padding-left: 35px;
        }
      }

    }

  }
}

.votes-ctn {
  text-align: center;

  .card-wrap {
    .polls-ctn .card-wrap;

    height: 350px;

    .card {

      .triangle {
        @media @xs-and-down {
          right: 0;
          top: 0;
        }
      }

      .body {
        padding-top: 12px;
        height: 120px;
      }
    }
  }
}
