
.poll-form {
  form.form-horizontal {
    .form-group {
      margin-bottom: 0;

      .control-label {
        padding-top: 9px;
      }

      .btn {
        line-height: 1;
        border: none;
      }

    }
  }
}
